<!doctype html>
<html class="no-js" lang="en">

{% include 'cms/mod_paco.html.twig' ignore missing %}

<head>
  {% include ['cms/mod_head.html.twig', '@nytwig/head.html.twig'] %}
</head>

<body id="{{ pageid }}">

  {# Page Header #}
  <header> 
    {% block headerbefore %}{% endblock %}
    {% include 'cms/mod_lance.html.twig' ignore missing %}
    {% include ['cms/mod_nav.html.twig', '@nytwig/nav.html.twig'] %}
    {% include 'cms/mod_rod.html.twig' ignore missing %}
    {% block headerafter %}{% endblock %}
  </header>

  <!-- Main Content Of The Page -->
  <div id="page">
    <div class="container">
      
      <aside id="beforeContent">
        {% include ['cms/adminbar.html.twig', '@nytwig/adminbar.twig'] %}
        {% include 'cms/mod_henry.html.twig' ignore missing %}
        {% block asidebefore %}{% endblock %}
      </aside>

      <div class="middle">
        {% if error|default is not empty %}
          {% for key, val in error %}
            <div class="error">{{ val }}</div>
          {% endfor %}
        {% endif %}

        {% if notice|default is not empty %}
          {% for key, val in notice %}
            <div class="notice">{{ val }}</div>
          {% endfor %}
        {% endif %}

        <article>
          {% include 'cms/mod_alex.html.twig' ignore missing %}
          {% block content %}{% endblock %}
          {% include 'cms/mod_simon.html.twig' ignore missing %}
        </article>
      </div>

      <aside id="afterContent">
        {% include 'cms/mod_fred.html.twig' ignore missing %}
        {% block asideafter %}{% endblock %}
        {% include 'cms/mod_kat.html.twig' ignore missing %}
      </aside>

    </div>
  </div>

  {# Page Footer #}
  <footer>
    {% block footerbefore %}{% endblock %}
    {% include 'cms/mod_brick.html.twig' ignore missing %}
    {% include ['cms/mod_footer.html.twig', '@nytwig/footer.html.twig'] %}
    {% include 'cms/mod_stone.html.twig' ignore missing %}
    {% block footerafter %}{% endblock %}
  </footer>

{% include ['cms/mod_foot.html.twig', '@nytwig/foot.html.twig'] %}
</body></html>
