<!doctype html>
<html class="no-js" lang="en">

<head>
  {% include ['cms/head.html.twig', '@nytwig/head.html.twig'] %}
</head>

<body>

  {# Administration Panel #}
  {% if adminbar|default('hide') == 'show' %}
    <aside id="adminbar">
      {% include '@nytwig/adminbar.html.twig' %}
    </aside>  
  {% endif %}

  {# Page Header #}
  <header> 
      {% include ['cms/nav.html.twig', '@nytwig/nav.html.twig'] %}
  </header>

  {% if error|default is not empty %}
    {% for key, val in error %}
      <div class="error">{{ val }}</div>
    {% endfor %}
  {% endif %}

  <!-- Main Content Of The Page -->
  <div id="page">
    <aside id="beforeContent">{% block asidebefore %}{% endblock %}</aside>
    <article>{% block content %}{% endblock %}</article>
    <aside id="afterContent">{% block asideafter %}{% endblock %}</aside>
  </div>

  {# Page Footer #}
  <footer>
    {% include ['cms/footer.html.twig', '@nytwig/footer.html.twig'] %}
  </footer>

</body></html>
