<!doctype html>
<html class="no-js" lang="en">

<head>
  {% include ['cms/head.html.twig', '@nytwig/head.html.twig'] %}
</head>

<body>

  <!-- Administration Panel -->
  <aside id="adminbar">
    {% if adminbar == 'show' %}
      {% include '@nytwig/adminbar.html.twig' %}
    {% endif %}
  </aside>  

  <!-- Page Header -->
  <header> 
      {% include ['cms/nav.html.twig', '@nytwig/nav.html.twig'] %}
  </header>

  <!-- Main Content Of The Page -->
  <div id="page">
    <aside id="beforeContent"><{% block asidebefore %}{% endblock %}</aside>
    <article>{% block content %}{% endblock %}</article>
    <aside id="afterContent"><{% block asideafter %}{% endblock %}</aside>
  </div>

  <!-- Page Footer -->
  <footer>
    {% include ['cms/footer.html.twig', '@nytwig/footer.html.twig'] %}
  </footer>

</body></html>
