<!doctype html>
<html class="no-js" lang="en">

<head>{% include '@nytwig/head.html.twig' %}</head>

<body>
  <header>{% include '@nytwig/nav.html.twig' %}</header>

  <div id="page">

    <article>{% block content %}{% endblock %}</article>
  </div>

  <footer>{% include '@nytwig/footer.html.twig' %}</footer>

</body></html>
