<!doctype html>
<html class="no-js" lang="en">

<head>{% include 'modules/head.html.twig' %}</head>

<body>
  <header>{% include 'modules/nav.html.twig' %}</header>

  <div id="page">
    {% if error is not empty %}
      {% for key, val in error %}
        <div class="error">{{ val }}</div>
      {% endfor %}
    {% endif %}
    {% if notice is not empty %}
      <div id="notice">{{  notice }}</div>
    {% endif %}

    <article>{% block content %}{% endblock %}</article>
  </div>

  <footer>{% include 'modules/footer.html.twig' %}</footer>

</body></html>
