<div class="container flexbox">
  <div id="logo"><a href="/">LOGO</a></div>

  <nav>

    <ul>

      <li><a href="/">Home</a></li>
      <li><a href="/user/index">Login/Register</a></li>

    </ul>

  </nav>
</div>
